.orderInfo ul {
  background: rgb(248, 243, 243);
  margin: auto;
  padding: 1rem;
  line-height: 2px;
  font-size: 12px;
  display: inline-block;
}

.orderInfo h1 {
  text-align: center;
}

.orderInfo {
  display: flex;
  width: 100vw;
  flex-direction: column;
}
