.products {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 1rem 2rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.products li {
  flex: 0 1 35rem;
  margin: 0;
  height: 42rem;
  border: 0.2rem #e0e0e0 solid;
  border-radius: 0.5rem;
  background-color: rgb(252, 247, 249);
}
